@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Inter:wght@300;400;700;900&family=Libre+Barcode+128&family=Mrs+Saint+Delafield&display=swap');

@breakpoint-small: 700px;
@breakpoint-mid: 1000px;
@breakpoint-large: 1200px;

@foreground: #000;
@background: #fff;
@secondary: rgb(200, 200, 200);
@muted: rgb(234, 234, 234);

#container {
  max-width: 1600px;
  margin: 0 auto;
}

.layout {
  display: grid;
  gap: 0;
  min-height: 100vh;
  grid-template-areas:
    "side"
    "content";

  @media (min-width: @breakpoint-small) {
    grid-template-columns: minmax(200px, 1fr) 3fr;
    grid-template-areas: "side content";
  }

  @media (min-width: @breakpoint-mid) {
    grid-template-columns: minmax(300px, 1fr) 3fr;
    grid-template-areas: "side content";
  }

}

#side { 
  grid-area: side;
  padding: 30px;
  box-sizing: border-box;

  @media (min-width: @breakpoint-small) {
    height: 100vh;
    overflow: hidden;
    position: fixed;
  }
}
#content { 
  grid-area: content;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;

}

body {
  font-family: "Inter";
}

h1 {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Inter', cursive;
}

a {
  text-decoration: none;
  color: initial;
}

footer {
  font-family: 'Inter', cursive;
}

#albums {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @breakpoint-small) {
    grid-template-columns: 1fr;
  }

  @media (min-width: @breakpoint-mid) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @breakpoint-large) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  row-gap: 30px;
  column-gap: 30px;
}

div.album {
}

div.album img.album-cover {
  object-fit: cover;
  aspect-ratio: 3 / 2;
  width: 100%;
  height: auto;
}

div.album .album-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  font-size: 0.8em;
  
  .album-title {
    font-weight: 400;
  }
  .album-count {
    color: @secondary;
    font-weight: 300;
  }
}

hr {
  border: none;
  border-top: @muted solid 1px;
  margin: 30px 0;
}